aniso8601==6.0.0
asgiref==3.2.3
attrs==19.1.0
Automat==0.7.0
certifi==2018.11.29
chardet==3.0.4
constantly==15.1.0
defusedxml==0.5.0
dj-database-url==0.5.0
Django==2.2.9
django-appconf==1.0.3
django-cors-headers==3.1.0
django-filter==2.1.0
django-fsm==2.6.1
django-fsm-log==1.6.2
django-graphql-jwt==0.2.1
django-graphql-social-auth==0.1.4
django-storages==1.7.1
django-subscriptions==1.0.0
djangorestframework==3.9.4
djangorestframework-jwt==1.11.0
graphene==2.1.8
graphene-django==2.7.1
graphene-django-extras==0.4.5
graphql-core==2.2
graphql-relay==2.0.1
gunicorn==19.9.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
iso8601==0.1.12
oauthlib==3.0.1
Pillow==6.2.1
promise==2.2.1
pycryptodomex==3.9.4
PyJWT==1.6.4
python-dateutil==2.8.0
python3-openid==3.1.0
pytz==2018.7
requests==2.21.0
requests-oauthlib==1.2.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
stream-django==1.6.1
stream-python==3.1.1
urllib3==1.24.1
